	<%
meta title: 'Jasmeet Singh- Portfolio Website',
     description: "Welcome to my portfolio website. Here you will be able to know me better. My Blog, My Projects, My github Profile, My Resume. I made this website to give back to the community by writing about the things I am learning. ",    
 keywords: %w(rails5 ruby rails windows devise carrierwave blog)  
%>
<%
meta og: {
  image: "http://jasmeet.herokuapp.com/assets/intro-bg.jpg",
  title: 'Jasmeet Singh- Portfolio Website',
  type: 'blog'
}
%>

	<section class="banner main-banner">
	 
		<div class="overlay">		
		<div class="container">
			<div id="image" class="hidden-xs">
				<!--div style="text-align: center;"-->
				<!--%= #image_tag("back3.jpg" , class: "rounded-circle" , height: 125) %-->
				<!--/div-->
				 <h2 id="rotate" style="padding-top: 30vh;margin: 0px 0px 50px 0px; ">.</h2>
			</div>

			<div style="text-align: center;">
				<a href ="https://drive.google.com/file/d/1p9zu0krB3tuoInSAjd4nD1EsA-045Kx-/view" target = "_blank" id= "different" class="btn btn-outline-primary">Download Resume</a>
			</div>
		</div>
		</div>

	</section>

	</div>


