	<% provide(:nav_style, "transparent-nav") %>

	<section class="banner main-banner">
		<div class="overlay"></div>
		<div class="container">
			<div id="image" class="hidden-xs">
				<h2 >I am a <span id="rotate"></span> .</h2>	
			</div>
		</div>

	</section>

	
	

	</div>



















	 link_to post.title,post 
	 post.created_at.strftime("%A, %b %d") 
	link_to project.title,project
	 project.created_at.strftime("%A, %b %d") 

