	

	<section class="banner main-banner">
	 
		<div class="overlay">		
		<div class="container">
			<div id="image" class="hidden-xs">
				<div style="text-align: center;">
				<%= image_tag("back3.jpg" , class: "rounded-circle" , height: 125) %>
				</div>
				 <h2 id="rotate">.</h2>	
			</div>
			<div style="text-align: center;">
				<a href ="https://drive.google.com/open?id=0B3BlV64ZUPDRNzlqeWJIUDJINXc" target = "_blank" id= "different" class="btn btn-outline-primary">Download Resume</a>
			</div>
		</div>
		</div>

	</section>

	</div>


