<p style="padding: 100px;"></p>

<h1 class="title">Thanks for your Message!!</h1>
<p style="text-align: center;">Thanks for Stopping by. It was a pleasure having you on board.</p><br><p style="text-align: center;"> <strong>please do connect with me.</strong></p>
<p style="padding: 20px;"></p>
<div id="contact-social" style="text-align: center;">
<a href="https://www.facebook.com/jayz1995" target="_blank"><i class="fa fa-facebook"></i></a>
<a href="https://www.linkedin.com/in/jascee" target="_blank"><i class="fa fa-linkedin"></i></a>
<a href="https://www.github.com/jasce" target="_blank"><i class="fa fa-github"></i></a>
</div>
<p style="padding: 40px;"></p>