	<%
meta title: 'My Projects | Jasmeet Singh',
     description: " Here you will be able to know about the code I've written. Demo Information will be provided to experience the project better ",    
 keywords: %w(rails5 ruby rails windows devise carrierwave blog)  
%>
<%
meta og: {
  image: "http://jasmeet.herokuapp.com/assets/intro-bg.jpg",
  title: 'My Projects | Jasmeet Singh',
  type: 'blog'
}
%>
<p style="padding: 25px;"></p>
<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">

			<h1 class="title">Stuff I've Built</h1>
			<% if user_signed_in? %>
				<div style="text-align: center;margin-top: -30px;margin-bottom: 30px;">
				<%= link_to 'Create New Project' , new_project_path %>
				</div>
			<% end %>
				<div >
					<% @projects.each do |project|%>
						<div class="post">
							<h2><a href="#"><%= link_to project.title,project%></a></h2>
							<p class="text-muted"><%= project.created_at.strftime('%A , %B %d') %></p>
							<hr>
					

						</div>	
					<% end %>
				</div>

		</div>
	</div>

</div>

