
<p style="padding: 25px;"></p>
<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">

			<h1 class="title">Stuff I've Built</h1>
				<div >
					<% @projects.each do |project|%>
						<div class="post">
							<h2><a href="#"><%= link_to project.title,project%></a></h2>
							<p class="text-muted"><%= project.created_at.strftime('%A , %B %d') %></p>
							<hr>
					

						</div>	
					<% end %>
				</div>

		</div>
	</div>

</div>

