	<%
meta title: 'My Blog | Jasmeet Singh',
     description: " Here you will be able to know about the posts I've written. I will share the tips and tricks and will share the things I had difficulty with while learning. ",    
 keywords: %w(rails5 ruby rails windows devise carrierwave blog)  
%>
<%
meta og: {
  image: "http://jasmeet.herokuapp.com/assets/intro-bg.jpg",
  title: 'My Blog | Jasmeet Singh',
  type: 'blog'
}
%>


<p style="padding: 25px;"></p>

<div class="container">
	<div class="row">
	<h1 class="title text-center">Posts I've Written</h1>

	<% if user_signed_in? %>
		<div style="text-align: center;margin-top: -30px;margin-bottom: 30px;">
		<%= link_to 'Create New Post' , new_post_path %>
		</div>
	<% end %>
		<div class="col-md-8 offset-md-2">				
					<% @posts.each do |post|%>
						<div class="post">							
							<h2><a href="#"><%= link_to post.title,post %></a></h2>
							<p class="text-muted"><%= post.created_at.strftime('%A , %B %d, %Y') %></p>
							<hr>
					

						</div>	
					<% end %>
				<%=  will_paginate @posts%>
		</div>
	</div>
</div>



	