<%
meta title: 'About | Jasmeet Singh',
     description: "I'm a developer &amp; Computer Science Engineering Student living in Subhash Nagar, New Delhi. I have been working both as consultant and developer for many small scale businesses/startups from the past one and a half years.",    
 keywords: %w(rails5 ruby rails windows devise carrierwave blog)  
%>
<%
meta og: {
  image: "http://jasmeet.herokuapp.com/assets/intro-bg.jpg",
  title: 'About Me | Jasmeet Singh',
  type: 'blog'
}
%>


<p style="padding: 20px;"></p>
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="row">
			<h1 class="title hidden-md-up" >About Me</h1>
				<div class="col-md-5">
				<p style="padding: 13px;"></p>
					<div class="card">
					<%= image_tag('intro-bg.jpg', class: 'card-img-top') %>					  
					  <div class="card-block">
					    <h4 class="card-title">Jasmeet Singh</h4>
					    <p class="card-text">Full Stack Developer. Technology Blogger. Open Source Enthusiast!</p>
					    <%= link_to 'Explore Projects', projects_path , class: "btn btn-outline-primary about-btn" %><br>
					    <a href="https://www.facebook.com/jayz1995" target="_blank"><i class="fa fa-facebook"></i></a>
					    <a href="https://www.linkedin.com/in/jascee" target="_blank"><i class="fa fa-linkedin" style="margin-left: 20px;"></i></a>
					    <a href="https://www.github.com/jasce" target="_blank"><i class="fa fa-github" style="margin-left: 20px;"></i></a>
					    
					  </div>
					</div>					
				</div>

				<div class="col-lg-6 offset-lg-1 col-md-7">
					<h1 class="title hidden-sm-down" >About Me</h1>
					<p style="padding: 15px;" class="hidden-md-up"></p>
						<p style="text-align: justify;">Hi, I'm working as a Frontend developer for PrimeDigital Global, Noida. During my college days, I worked as a freelancer for many small scale businesses/startups for managing my college expenses.</p>
						<p style="text-align: justify;">I also worked as a Technical Team Lead for a startup during my 2016 Summer  Holidays &amp; was able to lead a team of 6 interns successfully delivering 2 android apps and Backend written with Ruby &amp; Rails.</p>
						<p style="text-align: justify;">You can find me chatting on <a href="" >Facebook</a> &amp; sharing some code on <a href="">Github</a>.</p><br>
						<div style="text-align: center;">
							<a href = "https://drive.google.com/file/d/1p9zu0krB3tuoInSAjd4nD1EsA-045Kx-/view " target = "_blank" class="btn btn-outline-primary about-btn" >Download Resume</a>
						</div>
						<p style="padding: 10px;"></p>
						
				</div>
			</div>
		</div>
	</div>
</div>


