#posts_wrapper{
	padding: 2em 0;
	.post{
	text-align:center;
	.date{
		
	margin: 0px 0px 0.8em;
	font-size: .89em;
	color: $light;
	}
	
	h2{
	margin: 0;
	text-transform: uppercase;
	font-size: 2em;
	a{
	text-decoration: none;
	color: $dark;
	&:hover{
	color: $highlight;
	}
	}
	}
	hr{
	margin: 3em auto;
	}
	}
}

//----- Post Show
#post_show_content{
	header{
	text-align: center;
	.date{
	font-size: .9em;
	color: $light;
	margin: 0;
	}
	h1{
	margin:0;
	}

	}
	hr{
		margin: 2em auto;
	}
}
#admin_links{
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align:center;
	padding:1em 0;
	margin: 3em 0;
	a {
	color: $light;
	margin: 0 1em;
	font-weight: 700;
	font-size: .8em;
	text-decoration: none;
	text-transform: uppercase;
	}
}
//--- Shhare box
#share_box{
	text-align: center;
	
	p{
	text-transform: uppercase;
	padding: 0 0 1em 0;
	font-weight: 700;
	color: $dark;
	font-size:.8em;
	}
	i{
	color: $white;
	padding: 1em 1.5em;
	&:hover{
	color:$highlight;
	cursor: pointer;
	}
	}
}


.pagination:before,.pagination:after{
	content: " ";
	display:table;
}
.pagination:after{
	clear:both;
}
.pagination{
	text-align:center;
	margin: 0 0 3em 0;
	a, .previous_page, .current,.next_page{
	padding: .75em 1em;
	margin: 0 .5em;
	border-radius: .15em;
	line-height: 20px;
	text-decortion:none;
	background: $white;
	font-weight: 700;
	font-size: .7em;
	font-style: normal;
	color: $dark;
	}
	.current{
	background: highlight;
	color: $white;
	}
	.disabled{
	color: #C0C0C0;
	&:hover{
	color: #C0C0C0;
	}
	}

}
#links{
	color: $highlight;
	font-weight: 600;
	&:hover{
	color: $light;
	}
}
#disqus_style{
	padding: 30px;
	
	background: rgba(255,255,255,0.85);
}
